<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
        <label>Title: </label><br>
        <input type="text" name="title" ref="title" v-model="title"><br>
        <label>Description:</label><br>
        <textarea name="description" ref="description" v-model="description" cols="30" rows="10"></textarea><br>
        <button type="submit" value="SUBMIT">Submit</button>

        <br><br>

        <table border=1>
            <tr v-for="blog of blogs">
                <td>
                    <img width="100" src="https://dummyimage.com/300" />
                </td>
                <td>
                    <b>Title: </b> <b> {{blog.title}} </b> <br>
                    <b>Description: </b> <b> {{blog.description}} </b>
                </td>
                <td>
                    <button>Edit</button>
                    <button>Hapus</button>
                    <button>Upload Foto</button>
                </td>
            </tr>
        </table>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          title: '',
          description : '',
          errors : [],
          blogs : [],
      },
      methods : {
          getBlogs : function(){
            const config = {
              method : "get",
              url : "http://localhost.8000/api/blog"
          }

          axis(config)
            .then ( (response) => {
                this.blog = response.data.blogs
                console.log(response.data.blogs)
            })
            .catch ( (error) => {
                console.log(erorr);
            })
      },
      created(){
          this.getBlogs()
      }
    }



})
  </script>
</body>
</html>