<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input @keyup.enter="tambah" type="text" v-model="add.name">
    <button @click="tambah" v-show="!updateSubmit">add</button>  
    <button @click="update" v-show="updateSubmit">Update</button>  
    <ul>
        <li v-for="(user, index) in users">{{ user.name }} <button @click="edit(user, index)">Edit</button> || <button @click="eventDelete(index)">Delete</button></li>
        
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          add : {
              'name' : ''
          },
          users : [
              {
                  'name' : 'Ahmad Rayis'
              },
              {
                  'name' : 'Muhammad Iqbal'
              },
              {
                  'name' : 'Faqih Muhammad'
              },
          ],
          updateSubmit: false,
          selectedUser: ''
      },

      methods : {
          tambah: function(){
              this.users.push(
                  this.add
              )
              this.add = {}
          },
          eventDelete: function(index){
              this.users.splice(index, 1)
          },
          edit(user,index){
              this.selectedUser = index
              this.updateSubmit = true
              this.add.name = user.name
          },
          update(){
              this.users[this.selectedUser].name = this.add.name
          }
      },

      computed : {
      }
  })
  </script>
</body>
</html>